*{
    margin: 0;
    padding: 0;
}
body{
    background: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    margin-bottom: 20px;
    /* border: 1px solid black; */
    padding: 20px;
    width: 75%;
    border-radius: 5px;
}
section .title{
    font-weight: bold;
    color: bold;
    font-size: 22px;
    opacity: 50%;
}
section .content{
    opacity: 40%;
    width: 90%;
    font-size: 14px;
    line-height: 25px;
}
section img{
    margin-left: 200px;
    margin-top: 30px;
}
section.one{
    text-align: center;
    /* border: 1px solid black; */
}
section.one .content{
    width: 100%;
    margin: auto;
}
section.one .heading{
    opacity: 50%;
    font-size: 22px;
    font-weight: thin;
    margin-bottom: 10px;
    margin-top: 50px;
}
section.one .title{
    margin-bottom: 10px;
}
section.two{
    background: white;
    border-top: 3px solid hsl(180, 62%, 55%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}
section.three{
    background: white;
    border-top: 3px solid hsl(0, 78%, 62%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}
section.four{
    background: white;
    border-top: 3px solid hsl(34, 97%, 64%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}
section.five{
    background: white;
    border-top: 3px solid hsl(212, 86%, 64%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}

@media (min-width: 768px){
    .wrapper{
        display: flex;
        gap: 20px;
    }
    section.two{
        width: 280px;
        height: fit-content;
        margin-top: 10%;
    }
    section.three{
        width: 280px;
        height: fit-content;
    }
    section.four{
        width: 280px;
        height: fit-content;
    }
    section.five{
        width: 280px;
        height: fit-content;
        margin-top: 10%;
    }
    section.one .content{
        width: 50%;
        margin: auto;
    }
}